@font-face {
  font-family: SIMPLONMONO-REGULAR;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4290088502e4657967f/1636492329559/SimplonMono-Regular.otf);
}
@font-face {
  font-family: SIMPLONNORM-BOLD;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/618ae4197262ac6ffdf4a65a/1636492313895/SimplonNorm-Bold.otf);
}

@font-face {
  font-family: SIMPLONMONO-BOLD;
  src: url(https://static1.squarespace.com/static/6181e18cca832e610f8957e6/t/619e62aa9b4b6a3eef1d70cf/1637769898983/SimplonMono-Bold.otf);
}
.dic_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  padding: 0 10px;
}
.discover_h h1 {
  font-family: SIMPLONMONO-REGULAR;
  margin: 0;
  font-size: 2.3rem;
}
.discover_p {
  width: 40%;
  line-height: 30px;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.home_shop{
  font-family: SIMPLONMONO-REGULAR;
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 768px) {
  .dic_container {
    margin-top: 33px;
    height: auto;
  }
  .home_shop{
    margin-left: -12px;
  }
  .discover_p {
    font-size: 1rem;
  }
  .discover_h h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 480px) {
  .dic_container {
    padding: 0 5px;
  }
  .discover_p {
    width: 90%;

  }
  .discover_h h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 480px) {
  .home_shop{
    display: none;
  }
}
